/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Comment Form Style Sheet
   Author: Roberto Marcillo Jr
   Date: 28 November 2025

   Filename:         comments.css
   Supporting Files: go.png, stop.png

*/

