/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1
   Special Effects style sheet
   Author: Roberto Marcillo Jr
   Date: 06 December 2025

   Filename:         dweffects.css
   Supporting Files: 

*/

body {
  box-shadow:
    10px 0px 15px rgba(211, 211, 211, 0.5),
    -10px 0px 15px rgba(211, 211, 211, 0.5);
}

header nav.horizontal ul li {
  background-color: rgb(224, 238, 238);
  border-radius: 10px;
  box-shadow: 
    inset -3px 3px 2px white,
    inset 5px -5px 5px rgb(147, 207, 207);
}

article {
  box-shadow:
    inset 15px 15px 75px rgb(171, 171, 171),
    5px 5px 5px rgb(101, 101, 101);
}

blockquote {
  
  background: linear-gradient(
    right,
    rgb(166, 230, 230) 0%,
    rgb(231, 231, 231) 5%,
    rgb(255, 255, 255) 15%
);

  background: -webkit-gradient(
    linear,
    left top, right top,
    color-stop(0%, rgb(166, 230, 230)),
    color-stop(33%, rgb(231, 231, 231)),
    color-stop(100%, rgb(255, 255, 255))
  );

  
  filter: progid:DXImageTransform.Microsoft.Gradient(
    GradientType=1,
    StartColorStr='#DEF4F4',
    EndColorStr='#FFFFFF'
  );
}