/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   Sudoku Puzzle Table Style Sheet
   Author: Roberto Marcillo Jr
   Date: 25 November 2025   

   Filename:         stable.css
   Supporting Files: green.jpg, gold.jpg

*/

