/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   Sudoku Puzzle Table Style Sheet
   Author: Roberto Marcillo Jr
   Date: 25 November 2025   

   Filename:         stable.css
   Supporting Files: green.jpg, gold.jpg

*/
.spuzzle, .subTable {
   border-collapse: collapse;
}
.spuzzle td {
   border: 5px outset gray; 
}
.spuzzle th {
   font-size: 8px;
   color: gray;;
}

.spuzzle tbody th {
   height: 40px;
}
.subTable td {
   font-size: 20px;
   color: blue;
   width: 40px;
   height: 40px;
   text-align: center;
   vertical-align: middle;
   border: 1px solid black;
}
.goldBox td {
   background-image: url(gold.jpg);
   background-repeat: no-repeat;
   background-position: 50% 50%;
}
.greenBox td {
   background-image: url(green.jpg);
   background-repeat: no-repeat;
   background-position: 50% 50%;
}
